.navi {
    overflow: hidden;
    background-color: #800020 ;
    text-align: center;
    font-size: 35px;
    margin: 15px;
    padding: 15px;
}

.navi a {
    float: center;
    color: tan;
    padding: 15px 18px;
    margin: 5px;
    font-size: 25px;
    display: inline;
}

.navi a:hover {
    background-color: beige;
    color: darkgrey;
}

body {
    background-color: tan;
    font-family: 'Roboto', sans-serif;
    color: #81372f;
}

h1 {
float: top;
padding: 15px;
text-align: center;
color: rgb(8.63%, 14.9%, 29.8%);
font-size: 50px;
text-transform:unset;
}

h2{
    text-align: center;
    color: rgb(8.63%, 14.9%, 29.8%);
    text-transform:unset;
}

.welcome {
    border: 8px double #800020;
    padding: 15px;
    float: center;
    margin: 20px;
    font-size: 18px;
    box-shadow: darkgrey 6px 6px 6px; 
    border-radius: 10px;
    text-align: center;
}

/*description of website*/
.descW {
    border: 8px double #800020;
    padding: 15px;
    float: center;
    margin: 20px;
    font-size: 18px;
    box-shadow: darkgrey 6px 6px 6px; 
    border-radius: 10px; 
    text-align: center;  
}

.about {
    border: 8px double #800020;
    padding: 15px;
    float: center;
    margin: 20px;
    font-size: 18px;
    box-shadow: darkgrey 6px 6px 6px; 
    border-radius: 10px;
    text-align: center;
}

#top {
    border-style: solid;
    margin: 2px;
    padding: 2px;
    color: #800020;
    text-align: right;
    float: right;
}

/* appears bigger when you come over with mouse icon */
#top:hover {
    transform: scale(1.5);
}

p::first-letter {
    font-size: 140%;
    text-transform: uppercase;
}