* {
    margin: 2rem auto;
    padding: 0.2em;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: justify;
    
}

#logo {
    height: 10em;
    min-width: 15em;

}

 .bookM {
    overflow: hidden;
    clear: both;
    border: 3px #4B0082 solid ;
    border-radius: 0px 30px 0px 30px;
    padding: 1em;
    color: 262254;
    background-color: #ffa45e;
    margin-left: 15%;
    max-width: 55em;
} 

header {
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 4em;
    color: #4B0082;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: #4B0082;
}

nav {
    text-align: center;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

#width {
    width: 30em;
}

body {
    background-color: #fff0f5;
}

.box {
    position: relative;
    width: 50%;
}

/*about us image*/
.Bimage {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: cadetblue;
}

.box:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*coordinate image*/
#coorImage {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: 25.4%;
}

h2 {
    text-align: center;
}

table, th, td {
    border: 2px solid #ffa45e;
    border-collapse: collapse;
}

th, td {
    padding: 1em;
    text-align: left;
}

.application-form {
    text-align: center;
    border: solid 2px #ffa45e;
}

#captionBottom {
    caption-side: bottom;
    color: #4B0082;
}

caption {
    font-weight: bold;
    color: #4B0082;
}

/*application form*/
label {
    float: inline-start;
    width: auto;
}

input {
    margin-left: auto;
    margin-bottom: auto;
}

#button {
    margin-left: auto;
} 

#top {
    border-style: solid;
    border-radius: 30px;
    margin: 2px;
    padding: 2px;
    color: #4B0082;
    float: right;
}

#top:hover {
    transform: scale(2);
}